.header{
	width:100%;
	height:8vh;
	background-color: white;

	@include iphoneplus{
		height:10vh;
}

}

.header__menu{
	height:100%;
	width:100%;
	display:flex;
	justify-content:space-around;
	align-items:center;
	/*background-color: yellow;*/
		
}

.menu__logo{
			height:100%;
			width:auto;
}