.main{
	height:100%;
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;

	@include desktop{
		margin:0 auto; 
		position:relative;
	}
}
.main__slogan{
	height:auto;
	width:100%;
	text-align:center;

	@include iphoneplus{
		height:20vh;
	}

	@include desktop{
		position:absolute;
		top:0%;
		left:0%;
	}
}
.slogan__title{
	font-size : 3rem;
	margin:5vh;
	font-weight:bold;
	font-family:"Amatic SC", arial;
	color:transparent;
	-webkit-background-clip: text;
  background-image: url("../img/nakedcherry/colors_background.jpg");

	&:nth-child(2){
		font-weight:bold;
	}
	@include desktop{
		font-size:11rem;
		color: #46166b;
		font-weight:bold;
		z-index: 100;
		mix-blend-mode: difference;
	  opacity:0.5;

	}
	@include bigscreen{
		font-size:16rem;
	}
}

/*.slogan__subtitle{
	font-size: 1.2rem;
	margin-bottom:1vh;
	font-family:"Amatic SC", arial;

	@include desktop{ 
		display:none;

	 }
}*/

.main__product{

	height:65vh;
	width:100%;
	position:relative;
	/*background-color: brown;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top:0.5%;
	overflow:hidden;

	@include desktop{
		height:90vh;
		margin:0;
		width:auto;
	}
}
.product__slider{
	position: absolute;
	height: 100%;
	text-align: left;
	font-size: 0;
	animation: 30s slidy infinite;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	top: 0;
	left: 0;
	width: 400vw;
	margin: 0;
	padding: 0;

  @include desktop{
		display:none;
  }
}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: 0%; }
}

.product__image{
	display:inline;
	width:100vw;
	float: left;
	object-fit: cover;

	@include iphoneplus{
		
	}

	@include desktop{
		/*height:90vh;
		width:100%;*/
		display:none;
	}
}

.product__video{
	display:none;
	

	@include desktop{
		display:block;
		height:auto;
		width:120%;
		overflow:hidden visible;
		z-index:-100;
	}
}
.main__description{
	height:auto;
	width:100%;
	/*background-color: gold;*/
	text-align:center;

	h2{
		font-family:"Kiona", arial;
		font-size:2rem;
	}
}
.descriptions__sections{
	height:auto;
	width:100%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin-top:0.5%;
	
	@include desktop{
	
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
	}
}
.descriptions__section{
	display:flex;
	flex-direction:column;
	justify-content:center;
	height:40vh;
	width:100%;
	border:solid black;
	background-color: black;
	margin: 1vh;
	
	h2{
		color:white;
		font-size: 1.5rem;
		font-weight: 200;
	}

	@include desktop{
		width:45vw;
	}
}

.description__caracteristique{
	color:white;
	font-weight:100;
	display:flex;
	flex-direction:column;
	align-items:center;
	height:100%;
	padding:5vh;
	overflow:auto;
	padding-top:5vh;
	justify-content: flex-start;
	padding-top: 2vh;

	li{
		color:white;
		text-align:justify;
		margin:1vh;
		list-style-type:square;
	}

	h2{
		margin-top:1vh;
	}

	img{
		margin:2vh;
	}

	i{
		color:white;
		height:100%;
	}
}

.caracteristique__list{
	li{
		color:white;
	}
}

.hide{
	display:none;
}

.caracteristique__image{
	width:50%;
	height:auto;
}